<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top" id="mainNavbar">
        <div class="container">
            <a class="navbar-brand" href="/">emmanuelweb.dev</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/post/">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/contacto/">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
      <div class="row py-5">
        <div class="col-12">
          <h1>Sistema de analiticas para datos SEDIMEC Costa Rica</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>Ventas de dictamenes de acuerdo al mes</h2>
          <hr>
          <canvas id="chart0"></canvas>
        </div>
        <div class="col-4">
          <canvas id="chart1"></canvas>
        </div>
        <div class="col-4">
          <canvas id="chart2"></canvas>
        </div>
        <div class="col-4">
          <canvas id="chart3"></canvas>
        </div>
        <div class="col-12">
          <h2>Dias de la semana</h2>
        </div>
        <div class="col-10">
          <canvas id="chart4"></canvas>
        </div>
        <div class="col-12">
          <h2>Dias del mes</h2>
        </div>
        <div class="col-10">
          <canvas id="chart5"></canvas>
        </div>



      </div>


    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="/js/papaparse.js"></script>
    <script defer src="/js/test.js"></script>

  </body>
</html>

